*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height:59px;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1;
    

}
#logo img{
    height: 37px;
    margin: 32px 100px;
}
#navbar ul{
    display: flex;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 76%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

}
#navbar ul li{
    list-style: none;
    font-size: 1rem;

}
#navbar ul li a{
    color: rgb(0, 17, 203);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: black;      
    background-color: white;   
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
    height: 698px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#home::before{
    content: "";
    position: absolute;
    background: url('bg.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 2.8;
}
.h-primary{
    font-size: 2.8rem;
    padding: 19px;
    display: flex;
    justify-content: center;
}
#home h1{
    text-align: center;
    color: black;
}
#home p{
    font-size: 1.5rem;
    color: black;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;

}

.h-secondary{
    font-size: 2rem;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#services{
    display: flex;
    margin: 4px;
}
#services .box{
    border: 2px solid brown;
    width: 800px;
    padding: 34px;
    margin: 3px 6px;
    background: rgb(187, 172, 172);
    border-radius: 35px;
}
#services .box img{
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Times New Roman', Times, serif;
}
#client-section{
    height: 300px;
    position: relative;

}
#client-section::before{
    content: "";
    position: absolute;
    background: url('back.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
.client-item{
    padding: 14px;
}
#clients img{
    height: 146px;
    width: 384px;
    
}

footer{
    background: black;
    color: white;

}
#contact{
    background-color: rgb(240, 212, 174);
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 35%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contact-box textarea{
    border-radius: 30px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
}
.box{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px black;

}
.box img{
    border-radius: 20px;
    transition: all 0.6s linear 0s;

}
.box:hover{
    transform: scale(1.08);
}