#home{
    height: 380px;
    padding: 3px 60px;
}
#home::before{
    height: 380px;
}
#services{
    flex-direction: column;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 80px;
    height: auto;

}

#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
#home p{
    font-size: 13px;
}
.h-primary{
    font-size: 20px;
}
.btn{
    font-size: 13px;
    padding: 4px 7px;
}

